@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@font-face {
  font-family: "Druk Wide";
  font-display: swap;
  src: url("../fonts/Druk Wide Bold.woff") format("woff"), url("../fonts/Druk Wide Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Druk Wide";
  font-display: swap;
  src: url("../fonts/Druk Wide Medium.woff") format("woff"), url("../fonts/Druk Wide Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

/* Main page customize */

header {
  background: #1F2326;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-wrapper .menu .logo {
  padding: 30px 56px 30px 48px;
}

.header-wrapper .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-wrapper .menu ul li {
  margin-right: 33px;
}

.header-wrapper .menu ul li a {
  color: #fff;
  text-transform: uppercase;
}

.header-wrapper .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 64px;
}

.header-wrapper .account .name {
  text-transform: uppercase;
  color: #fff;
  padding-left: 12px;
}

@-webkit-keyframes myImg {
  0% {
    opacity: 0.7;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes myImg {
  0% {
    opacity: 0.7;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.main-section {
  background: url(../img/index/bg.png) no-repeat center top/cover;
}

.main-section .players {
  padding-top: 75px;
  padding-bottom: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.main-section .players .player {
  position: relative;
}

.main-section .players .player h2 {
  text-transform: uppercase;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 72px;
  line-height: 94px;
  letter-spacing: 0.1em;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  position: absolute;
  left: -10px;
  top: -20px;
  z-index: 10;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.main-section .players .player span {
  color: #FF4656;
  font-family: "Druk Wide";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.1em;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  display: inline-block;
  position: absolute;
  left: 40px;
  z-index: 10;
  top: 20px;
  white-space: nowrap;
}

.main-section .players .player .player-wrapper {
  width: 291px;
  height: 654px;
  position: relative;
  background: #1F2326;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 2px solid #1F2326;
}

.main-section .players .player .player-wrapper:hover {
  background: #F8F8F8;
  border: 2px solid #1F2326;
}

.main-section .players .player .player-wrapper:hover h2 {
  -webkit-text-stroke: 2px #000;
}

.main-section .players .player .player-wrapper:hover + .abilities {
  background: #FFFFFF;
  border: 2px solid #1F2326;
}

.main-section .players .player .player-wrapper:hover + .abilities path {
  fill: #1F2326;
}

.main-section .players .player .player-wrapper:hover img {
  -webkit-animation: myImg 0.2s ease-in 0.01s;
  animation: myImg 0.2s ease-in 0.01s;
}

.main-section .players .player .player-wrapper img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: inline-block;
}

.main-section .players .player .abilities {
  bottom: -10px;
  right: -15px;
  z-index: 10;
  position: absolute;
  padding: 13px 28px;
  width: 291px;
  height: 73px;
  background: #1F2326;
  border: 2px solid #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.main-section .players .player .abilities:hover {
  background: #F8F8F8;
  border: 2px solid #1F2326;
}

.main-section .players .player .abilities:hover h2 {
  -webkit-text-stroke: 2px #000;
}

.main-section .players .player .abilities:hover path {
  fill: #1F2326;
}

.skill-section .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.skill-section .skills .skill {
  background: #F8F8F8;
  border: 2px solid #000000;
  padding: 10px 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 480px;
  height: 165px;
}

.skill-section .skills .skill::before {
  content: '';
  display: block;
  width: 125px;
  height: 120px;
  background: #FF4656;
  position: absolute;
  bottom: 0;
  right: 60px;
  z-index: 1;
}

.skill-section .skills .skill .big-img {
  width: 20%;
  position: relative;
  display: inline-block;
  z-index: 20;
}

.skill-section .skills .skill .info {
  z-index: 20;
}

.skill-section .skills .skill .info h3 {
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: #C4C4C4;
}

.skill-section .skills .skill .info span {
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  color: #1F2326;
}

.skill-section .skills .skill .info p {
  white-space: wrap;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #1F2326;
}

.skill-section .skills .more {
  background: #F8F8F8;
  border: 2px solid #000000;
  width: 145px;
  height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skill-section .skills .more .triangle {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 15px solid #1F2326;
  border-bottom: 7px solid transparent;
}

footer {
  background: #fff;
  height: 60px;
  margin-top: -40px;
}

/* Agent page customize */

.agent-section {
  background: url(../img/agent/bg-two.png) no-repeat center top/cover;
  position: relative;
}

.agent-section .agent-desc {
  max-width: 1000px;
  padding-top: 30px;
  padding-left: 30px;
  z-index: 20;
}

.agent-section .agent-desc .text-wrapper {
  background: #F8F8F8;
}

.agent-section .agent-desc .text-wrapper h3 {
  padding-left: 37px;
  padding-top: 25px;
  padding-bottom: 29px;
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 24px;
}

.agent-section .agent-desc .text-wrapper p {
  padding-left: 37px;
  padding-right: 37px;
  padding-bottom: 10px;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.agent-section .agent-desc .text-wrapper .agent-info {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.agent-section .agent-desc .text-wrapper .agent-info .preview {
  margin-right: 30px;
  width: 50%;
}

.agent-section .agent-desc .text-wrapper .agent-info .agent-info_desc h4 {
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #1F2326;
  margin-bottom: 29px;
}

.agent-section .agent-desc .text-wrapper .agent-info .agent-info_desc div {
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #C4C4C4;
  margin-bottom: 16px;
}

.agent-section .agent-desc .text-wrapper .agent-info .agent-info_desc div span {
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #1F2326;
}

.agent-section .agent-desc .agent-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #1F2326;
}

.agent-section .agent-desc .agent-skills h4 {
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
}

.agent-section .agent-desc .agent-skills p {
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-align: center;
  margin-top: 9px;
}

.agent-section .agent-desc .agent-skills .agent-skills_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 31px 25px;
}

.agent-section .agent {
  position: absolute;
  top: 70px;
  right: 0;
  max-height: 100%;
  max-width: 50%;
  display: inline-block;
}

.agent-section .agent-name {
  text-transform: uppercase;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 120px;
  line-height: 170px;
  letter-spacing: 0.1em;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  position: absolute;
  top: 100px;
  left: 93%;
  z-index: 1;
}

.agent-section .skill::before {
  display: none !important;
}

.img-wrapper {
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  margin-top: 80px;
  margin-right: 40px;
}

.img-wrapper .weapon {
  width: 60%;
  display: inline-block;
  position: relative;
  left: 100px;
  bottom: 60px;
}

.img-wrapper .weapon_last {
  left: 170px;
}

.block {
  width: 140px;
  height: 120px;
  background: #FF4656;
  position: absolute;
  right: 60px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block .damage {
  font-family: "Druk Wide";
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #F8F8F8;
}

/* Weapon page customize */

.weapon-section {
  background: url(../img/weapon/bg.png) no-repeat center top/cover;
}

.weapon-section .wrapper {
  position: relative;
  padding: 55px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
}

.weapon-section .wrapper .main-container {
  background: #F8F8F8;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 44px;
}

.weapon-section .wrapper .main-container .main-weapon_wrapper {
  position: relative;
}

.weapon-section .wrapper .main-container .main-weapon_wrapper .main-weapon {
  position: absolute;
  max-width: 60%;
  left: 70px;
  top: 30px;
}

.weapon-section .wrapper .main-container .main-weapon_wrapper .main-weapon_bg {
  max-width: 50%;
  padding-left: 250px;
}

.weapon-section .wrapper .main-container .block-weapon {
  margin-top: -20px;
  margin-left: 29px;
}

.weapon-section .wrapper .main-container .block-weapon span {
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #1F2326;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.weapon-section .wrapper .main-container .first-p {
  margin-top: 28px;
  margin-bottom: 14px;
  margin-left: 29px;
  font-size: 16px;
  line-height: 20px;
}

.weapon-section .wrapper .main-container p {
  padding-bottom: 15px;
  margin-left: 29px;
  font-size: 16px;
  line-height: 20px;
}

.weapon-section .wrapper .main-container .secondary-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.weapon-section .wrapper .main-container .secondary-weapon_wrapper {
  margin-right: 35px;
  padding: 18px 20px 0 20px;
  width: 400px;
  height: 160px;
  background: #1F2326;
  border: 2px solid #F8F8F8;
  position: relative;
}

.weapon-section .wrapper .main-container .secondary-weapon_wrapper .secondary-weapon {
  position: absolute;
  left: -10px;
  bottom: -30px;
  width: 80%;
}

.weapon-section .wrapper .main-container .secondary-weapon_wrapper .weapon-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.weapon-section .wrapper .main-container .secondary-weapon_wrapper .weapon-name h5 {
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.weapon-section .wrapper .main-container .secondary-weapon_wrapper .weapon-name span {
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FF4656;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.weapon-section .wrapper .main-container .column-wrapper {
  margin: 5px 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 30px;
  position: relative;
}

.weapon-section .wrapper .main-container .column-wrapper h3 {
  text-transform: uppercase;
  -webkit-text-stroke: 2px #F14251;
  color: transparent;
  font-family: "Druk Wide";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  font-weight: 500;
  font-size: 90px;
  letter-spacing: 0.1em;
  position: absolute;
  top: -30px;
  right: -640px;
  z-index: 1;
}

.weapon-section .wrapper .main-container .column-wrapper .left-side h4 {
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #1F2326;
}

.weapon-section .wrapper .main-container .column-wrapper .left-side div {
  margin: 30px 0 50px 0;
}

.weapon-section .wrapper .main-container .column-wrapper .left-side div p {
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #C4C4C4;
  padding-bottom: 16px;
}

.weapon-section .wrapper .main-container .column-wrapper .left-side div p span {
  font-family: "Druk Wide";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #1F2326;
}

.weapon-section .wrapper .main-container .stream {
  width: 100%;
  z-index: 200;
}

@media screen and (min-width: 1620px) {
  .agent-section .agent {
    max-width: 100%;
    top: 0;
  }

  .skill-section .weapons {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1890px) {
  .agent-section .agent-desc {
    max-width: 1300px;
  }
}

@media screen and (max-width: 1470px) {
  .weapon-section .wrapper .main-container {
    grid-template-columns: 1fr;
  }

  .weapon-section .wrapper .main-container .secondary-container {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .weapon-section .wrapper .main-container .secondary-weapon_wrapper {
    margin-right: 0;
  }
}

@media screen and (max-width: 1420px) {
  .agent-section .agent-desc {
    max-width: 100%;
    padding-right: 30px;
  }

  .agent-section .agent-desc .agent-skills {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
  }

  .agent-section .agent {
    display: none;
  }

  .agent-section .agent-name {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .header-wrapper .menu ul {
    display: none;
  }

  .main-section .players {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .skill-section .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 1300px) {
  .main-section .players .player {
    margin: 40px 10px;
  }
}

@media screen and (max-width: 820px) {
  .weapon-section .wrapper .main-container .main-weapon_wrapper .main-weapon {
    position: relative;
  }

  .weapon-section .wrapper .main-container .main-weapon_wrapper .main-weapon_bg {
    display: none;
  }

  .weapon-section .wrapper .main-container .secondary-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .weapon-section .wrapper .main-container .secondary-weapon_wrapper {
    margin-top: 20px;
  }
}

@media screen and (max-width: 560px) {
  .header-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-wrapper .account {
    display: none;
  }

  .skill-section .skills .skill {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  .agent-section .agent-desc .text-wrapper .agent-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .agent-section .agent-desc .text-wrapper .agent-info .preview {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .skill-section .weapons .weapon-wrapper {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    width: 100% !important;
    height: 165px !important;
  }
}

@media screen and (max-width: 420px) {
  .weapon-section .wrapper .main-container .secondary-weapon_wrapper {
    height: 100%;
  }

  .weapon-section .wrapper .main-container .secondary-weapon_wrapper .secondary-weapon {
    position: relative;
    width: 100%;
    bottom: -10px;
  }

  .weapon-section .wrapper .main-container .column-wrapper {
    margin: 5px 0;
  }

  .weapon-section .wrapper .main-container .column-wrapper h3 {
    display: none;
  }

  .weapon-section .wrapper .main-container .stream {
    max-width: 100%;
  }
}